---
import '@fontsource-variable/sora';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'OpeningHoursSans';
    src:
      url('/fonts/OpeningHoursSans-Regular.woff2') format('woff2'),
      url('/fonts/OpeningHoursSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HedvigLettersSerif';
    src: url('/fonts/HedvigLettersSerif[opsz].woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  html {
    font-family: 'Sora Variable', system-ui, sans-serif;
    background: #13151a;
    color: #fff;
  }
</style>
